<div id="calendar">
  <h1>Your Calendar</h1>
  <h5>A summary of your deadlines and requirements for the month!</h5><hr>
  <div class="cal-table">
    <table>
      <thead>
        <tr>
          <th colspan="7">{{month}} {{year}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sunday</td>
          <td>Monday</td>
          <td>Tuesday</td>
          <td>Wednesday</td>
          <td>Thursday</td>
          <td>Friday</td>
          <td>Saturday</td>
        </tr>
        <tr>
          {{#each days.[0]}}
          <td>{{this}}</td>
          {{/each}}
        </tr>
        <tr>
          {{#each days.[1]}}
          <td>{{this}}</td>
          {{/each}}
        </tr>
        <tr>
          {{#each days.[2]}}
          <td>{{this}}</td>
          {{/each}}
        </tr>
        <tr>
          {{#each days.[3]}}
          <td>{{this}}</td>
          {{/each}}
        </tr>
        <tr>
          {{#each days.[4]}}
          <td>{{this}}</td>
          {{/each}}
        </tr>
        <tr>
          {{#each days.[5]}}
          <td>{{this}}</td>
          {{/each}}
        </tr>
      </tbody>
    </table>
  </div>
</div>