<!DOCTYPE html>
<html>
<head>
  <link href="/css/class.css" rel="stylesheet">
  <link href="/css/schedule.css" rel="stylesheet">
  <title>Schedule | blueprint</title>
</head>
<body>
  {{>topnav}}
  <div id = "content">
    <nav id = "sideNav">
      <div class="navigationDiv">
        <ul class="navbar-nav" style="margin-top: 20px; background-color: white">
          <li class="nav-item item up">
            <a class="nav-link icon_name" href="/schedule"><i class="fa fa-calendar-check-o"></i> Your Schedule </a>
          </li>
          <li class="nav-item item">
            <div class="active" style="background-color: white">
              <a class="nav-link  icon_name" href="/schedule/search" style="color: #5161ce; padding-left: 10px"><i class="fa fa-plus"></i> Search for Classes</a>
            </div>
          </li>
          <li class="nav-item item down">
            <a class="nav-link icon_name" href="/schedule/create"><i class="fa fa-pencil icon"></i> Create a New Class</a>
          </li>
          <li class="nav-item item">
            <a class="nav-link icon_name" href="/schedule/drop"><i class="fa fa-minus icon"></i> Drop a Class</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="main">
      <ul class="breadcrumb">
        <li><a href="/home">blueprint</a></li>
        <li><a href="/schedule">Schedule</a></li>
        <li>Search For Classes</li>
      </ul> 
      <h1>Search for Classes</h1>
      <h5>Check if your class already exists and join your classmates now!</h5><hr>
      <form method="post" action="/schedule/search/results">
        <div class="input-group" style="justify-content: center; margin-top: 20px; height: 90px;">
          <div class="form-outline" style="width: 40%">
            <input type="search" class="form-control" placeholder = "i.e. 'CCAPDEV' or 'Web Application Development'" id="class_box"/>
          </div>
          <button type="submit" class="btn btn-primary button" id="class_btn">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
      <div id="search-class-results">
        {{#each results}}
        <a href="/classes/{{classID}}/home" class="link">
          <div class="class-container">
            <div class="img-container"><img src="/images/book.png" class="img" alt="{{classname}}"></div>
            <div class="text-container">
              <h2>{{classname}}</h2>
              <h3>{{coursecode}}</h3>
            </div>
          </div>  
        </a>

        <div class="class-container">
          <div class="img-container"><img src = "/images/book.png" class = "img" alt = "{{classname}}"></div>
          <div class="text-container">
            <h2>{{coursecode}}</h2>
            <h3>{{classname}}</h3><hr>
            <h6>{{classDayA}} {{classTimeA}}</h6> 
          </div>
          <button class="btn" id = "add_btn0" style="margin-right: -30px">
            <i class="fa fa-plus disc_icon" title="Add to Schedule!"></i>
          </button>
        </div>
        {{else}}
        <h3 style="text-align: center; padding: 40px">No results.</h3>
        {{/each}}
      </div>
    </div>
  </body>
  </html>
