<!DOCTYPE html>
<html>
<head>
  <link href="/css/class.css" rel="stylesheet">
  <title>Classlist | blueprint</title>
</head>
<body>
	{{>topnav}}
  <div id = "content">
   <nav id = "sideNav">
    <div class="navigationDiv">
      <ul class="navbar-nav" style="margin-top: 20px; background-color: white">
        <li class="nav-item item up">
          <a class="nav-link icon_name" href="/classes/{{classID}}/home"><i class="fa fa-home icon"></i> Home </a>
        </li>
        <li class="nav-item item">
          <div class="active" style="background-color: white">
            <a class="nav-link" href="/classes/{{classID}}/classlist" style="color: #5161ce; padding-left: 10px"><i class="far fa-address-book"></i> Class List</a>
          </div>
        </li>
        <li class="nav-item item down">
          <a class="nav-link icon_name" href="/classes/{{classID}}/discussions"><i class="far fa-clone icon"></i> Discussions</a>
        </li>
        <li class="nav-item item">
          <a class="nav-link icon_name" href="/classes/{{classID}}/requirements"><i class="far fa-calendar-alt icon"></i> Requirements</a>
        </li>
        <li class="nav-item item">
          <a class="nav-link icon_name" href="/classes/{{classID}}/notebook"><i class="fa fa-pencil-square-o icon"></i> Notebook</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="main">
    <ul class="breadcrumb">
      <li><a href="/home">blueprint</a></li>
      <li><a href="/classes/dashboard">Classes</a></li>
      <li><a href="/classes/{{classID}}/home">{{coursecode}}</a></li>
      <li>Class List</li>
    </ul> 
    <h1>Class List</h1>
    <h5>These are your classmates, say hi!</h5><hr>
    <div id="class-list">
      {{#each users}}
        <a href="/{{username}}/profile" class="link">
          <div class="person-container">
            <div class="img-container"><img src = "/images/user.png" class = "img" alt = "Blueprint Logo"></div>
            <div class="text-container">
              <h2>{{fName}} {{lName}}</h2>
              <h3>{{degree}}</h3><hr>
              {{#if bio}}
              <h6>{{bio}}</h6>
              {{else}}
              <h6>This user has no bio yet.</h6>
              {{/if}}
            </div>
          </div>
        </a>
      {{/each}}
    </div>
  </div>
</div>
</body>
</html>
