<!DOCTYPE html>
<html>
<head>
    <link href="../../../css/css.css" rel="stylesheet">
    <link href="../../../css/class.css" rel="stylesheet">
    <title>Notebook | {{coursecode}}</title>

    <style>
    h6
    {
      margin-top:  20px;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  {{>topnav}}
    <div id = "content">
    	<nav id = "sideNav">
    	  <div class="navigationDiv">
    		  <ul class="navbar-nav" style="margin-top: 20px; background-color: white">
    			<li class="nav-item item">
    			    <a class="nav-link icon_name" href="/classes/{{classID}}/home"><i class="fa fa-home icon"></i> Home </a>
    			</li>
    			<li class="nav-item item">
    			    <a class="nav-link icon_name" href="/classes/{{classID}}/classlist"><i class="far fa-address-book icon"></i> Class List</a>
    			</li>
    			<li class="nav-item item">
    			    <a class="nav-link icon_name" href="/classes/{{classID}}/discussions"><i class="far fa-clone icon"></i> Discussions</a>
    			</li>
    			<li class="nav-item item up">
    			    <a class="nav-link icon_name" href="/classes/{{classID}}/requirements"><i class="far fa-calendar-alt icon"></i> Requirements</a>
    			</li>
    			<li class="nav-item item">
    			    <div class="active" style="background-color: white">
    			      <a class="nav-link" href="/classes/{{classID}}/notebook" style="color: #5161ce; padding-left: 10px"><i class="fa fa-pencil-square-o"></i> Notebook</a>
    			  </div>
    			</li>
    		</ul>
       </div>
    </nav>
    <div class="main" style="width: 85%">
        <ul class="breadcrumb">
          <li><a href="/home">blueprint</a></li>
          <li><a href="/classes/dashboard">Classes</a></li>
          <li><a href="/classes/{{classID}}/home">{{coursecode}}</a></li>
          <li>Notebook</li>
        </ul> 
        <h1>Notebook</h1>
        <h5>We're all in this together!</h5>
        <a href ="/classes/{{classID}}/notebook/add" title = "Add notes" method = "get"><i class="fa fa-plus" style="font-size: 25px; margin-top: -3%; float: right; color: #457B9D"></i></a>
        <hr>
        <div class="row">
          <div class="left">
            <h3>General</h3>
          </div>
          <div class="right">
            <h3>Replies</h3>
          </div>
        </div>
        {{#each result}}
        <a href = "/classes/{{../results}}{{classID}}/notebook/{{notesID}}" class="links">
          <div class="row post">
            <div class="left">
              <h6>{{title}}</h6>
            </div>
            <div class="right">
              <h6>{{numOfComments}}</h6>
            </div>
          </div>
        </a>
        {{else}}
           <h3 style="text-align: center; padding: 40px">There are no shared notes yet.</h3>
        {{/each}}
      </div>
  </div>
</body>
</html>