<!DOCTYPE html>
<html>
<head>
  <link href="/css/class.css" rel="stylesheet">
  <link href="/css/schedule.css" rel="stylesheet">
  <script type="text/javascript" src="../js/profile-edit.js"></script>
  <script type="text/javascript" src="../js/validator.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
  <title>Edit Profile | blueprint</title>
</head>
<body>
	{{>topnav}}
  <div id = "content">
   <nav id = "sideNav">
    <div class="navigationDiv">
      <ul class="navbar-nav" style="margin-top: 20px; background-color: white">
        <li class="nav-item item up">
          <a class="nav-link icon_name" href="/profile"><i class="fas fa-child icon"></i> Your Profile </a>
        </li>
        <li class="nav-item item">
          <div class="active" style="background-color: white">
            <a class="nav-link" href="/profile/edit" style="color: #5161ce; padding-left: 10px"><i class="fas fa-user-check"></i> Edit Profile</a>
          </div>
        </li>
        <li class="nav-item item down">
          <a class="nav-link icon_name" href="/profile/delete"><i class="fa fa-times icon"></i> Delete Profile</a>
        </li>
      </ul>
    </div>
  </nav>
    <div class="main">
      <ul class="breadcrumb">
        <li><a href="/home">blueprint</a></li>
        <li><a href="/profile">Profile</a></li>
        <li>Edit Profile</li>
      </ul> 
      <h1>Edit Profile</h1>
      <h5>Ensure that your details are up-to-date! If you do not wish to edit a field, leave it blank!</h5><hr><br>
      <h6 id="error" class="error">{{error}}</h6>
      <h6 id="usernameError" class="error">{{usernameError}}</h6>
      <h6 id="contact_noError" class="error">{{contact_noError}}</h6>
      <h6 id="bdayError" class="error">{{bdayError}}</h6>
      <h6 id="degreeError" class="error">{{degreeError}}</h6>
      <h6 id="bioError" class="error">{{bioError}}</h6>
      <h6 id="prof-pictureError" class="error">{{prof-pictureError}}</h6>
      <h6 id="n_passwordError" class="error">{{n_passwordError}}</h6>
      <h6 id="passwordError" class="error">{{passwordError}}</h6>
      <div class="create-container" style="margin-right: auto; margin-left: auto">
        <form style = "width: 100%; height: 80%" method="post">
          <div class = "container input-group mb-3">
            <label for="username" class="input_field">Username</label>
            <input type = "text" name = "username" id = "username" class = "form-control input_user" value = "{{user.username}}" style="border-radius: 0px; color: black">
          </div>
          <div class = "container input-group mb-3">
            <label for="contact_no" class="input_field">Contact Number</label>
            <input type = "text" name = "contact_no" id = "contact_no" class = "form-control input_user" value = "{{user.phone}}" style="border-radius: 0px; color: black" placeholder="+639171234567">
          </div>
          <div class = "container input-group mb-3  ">
            <label for="bday" class="input_field">Birthday</label>
            <input type = "date" name = "bday" id = "bday" class = "form-control input_user" value = "{{user.bday}}" style="border-radius: 0px; color: black">
          </div>
          <div class = "container input-group mb-3">
            <label for="degree" class="input_field">Degree</label>
            <input type = "text" name = "degree" id = "degree" class = "form-control input_user" value = "{{user.degree}}" style="border-radius: 0px; color: black">
          </div>
          <div class = "container input-group mb-3">
            <label for="bio" class="input_field">Bio</label>
            <input type = "text" name = "bio" id = "bio" class = "form-control input_user" value = "{{user.bio}}" style="border-radius: 0px; color: black">
          </div>
          <div class = "container input-group mb-3">
            <label for="n_password" class="input_field" style="width: 30%">Enter new password: </label>
            <input type = "password" name = "n_password" id = "n_password" class = "form-control input_user" value = "" style="border-radius: 0px; color: black">
          </div>
          <div class = "container input-group mb-3">
            <label for="password" class="input_field" style="width: 30%">Enter old password for validation: </label>
            <input type = "password" name = "password" id = "password" class = "form-control input_user" value = "" style="border-radius: 0px; color: black">
          </div>
          <div class = "display" style = "padding: 0 40px; margin-top: 10px; ">
            <input type="submit" id="edit_button" value="Edit!" class = "btn edit_button" name = "edit_button">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
