<!DOCTYPE html>
<html>
<head>
	<link href="/css/profile.css" rel="stylesheet">
	<title>Profile | blueprint</title>
</head>
<body>
	{{>topnav}}
	<div id = "content">
   <nav id = "sideNav">
    <div class="navigationDiv">
      <ul class="navbar-nav" style="margin-top: 20px; background-color: white">
        <li class="nav-item item up">
          <div class="active" style="background-color: white">
            <a class="nav-link" href="profile.html" style="color: #5161ce; padding-left: 10px"><i class="fas fa-child"></i> Your Profile </a>
          </div>
        </li>
        <li class="nav-item item down">
          <a class="nav-link icon_name" href="editprofile.html"><i class="fas fa-user-check icon"></i> Edit Profile</a>
        </li>
        <li class="nav-item item">
          <a class="nav-link icon_name" href="deleteprofile.html"><i class="fa fa-times icon"></i> Delete Profile</a>
        </li>
      </ul>
    </div>
   </nav>
  <div class="main">
    <div class = "side-prof">
      <div class = "logo_container">
        <span title="Click to edit the profile picture">
          <img src = "../images/user.png" class = "logo" alt = "Profile picture">
          <input type="file" id="prof-picture">
        </span>
      </div>
      <h2>{{info.fName}} {{info.lName}}</h2>
      <h6 id="bio">{{info.bio}}</h6><br>
      <button type = "button" name = "logout_button" class = "btn login_button" id = "logout_btn">Log Out</button>
      <div id="spacer"></div>
    </div>
    <div class="info-bg">
      <div class="info-box">
        <ul class="breadcrumb">
          <li><a href="home.html">blueprint</a></li>
          <li><a href="profile.html">Profile</a></li>
          <li>Your Profile</li>
        </ul> 
        <h1>Profile</h1>
        <h5>These are your personal details and bio. Make sure your information is up to date!</h5><hr>
        <h3>Personal Information</h3>
        <div class="row">
          <div class="col">
            <h4>Username</h4>
            <h6>{{info.username}}</h6>
          </div>
          <div class="col">
            <h4>Birthday</h4>
            <h6>{{info.bday}}</h6>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>Email</h4>
            <h6>{{info.email}}</h6>
          </div>
          <div class="col">
            <h4>Phone</h4>
            <h6>{{info.phone}}</h6>
          </div>
        </div>
        <h3>Educational Information</h3>
        <div class="row">
          <div class="col">
            <h4>University</h4>
            <h6>{{info.uni}}</h6>
          </div>
          <div class="col">
            <h4>Degree</h4>
            <h6>{{info.degree}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
	<script type="text/javascript">
		function logout_fn ()
		{
			location.href = "splash.html";
		}

		var logout = document.getElementById ("logout_btn");
		logout.onclick = logout_fn;
	</script>
</body>
</html>
