
<!DOCTYPE html>
<html>
<head>
    <link href="/css/css.css" rel="stylesheet">
    <link href="/css/class.css" rel="stylesheet">
    <link href="/css/schedule.css" rel="stylesheet">
	<title>Requirements | {{coursecode}}</title>

  <style>
    h6
    {
      margin-top:  20px;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
     {{>topnav}}
     
    <div id = "content">
    	<nav id = "sideNav">
	    	<div class="navigationDiv">
          <ul class="navbar-nav" style="margin-top: 20px; background-color: white">
               <li class="nav-item item">
                    <a class="nav-link icon_name" href="/classes/{{classID}}/home"><i class="fa fa-home icon"></i> Home </a>
                </li>
                <li class="nav-item item">
                    <a class="nav-link icon_name" href="/classes/{{classID}}/classlist"><i class="far fa-address-book icon"></i> Class List</a>
                </li>
                <li class="nav-item item up">
                    <a class="nav-link icon_name" href="/classes/{{classID}}/discussions"><i class="far fa-clone icon"></i> Discussions</a>
                </li>
                <li class="nav-item item">
                  <div class="active" style="background-color: white">
                    <a class="nav-link" href="/classes/{{classID}}/requirements" style="color: #5161ce; padding-left: 10px"><i class="far fa-calendar-alt"></i> Requirements</a>
                  </div>
                </li>
                <li class="nav-item item down">
                    <a class="nav-link icon_name" href="/classes/{{classID}}/notebook"><i class="fa fa-pencil-square-o icon"></i> Notebook</a>
                </li>
            </ul>
        </div>
	    </nav>
      <div class="main" style="width: 85%">
        <ul class="breadcrumb">
          <li><a href="/home">blueprint</a></li>
          <li><a href="/classes/dashboard">Classes</a></li>
          <li><a href="/classes/{{classID}}/home">{{coursecode}}</a></li>
          <li><a href="/classes/{{classID}}/requirements">Requirements</a></li>
          <li>Add New Requirements</li>
        </ul> 
        <h1>Requirements</h1>
        <h5>Don't forget to do your tasks!</h5>
        <hr>
        <div class="create-container" style="margin-right: auto; margin-left: auto">
          <form style = "width: 100%; height: 80%" method = "post" 
                action = "/classes/{{classID}}/requirements/add">
            <div class = "container input-group mb-3">
              <label for="title" class="input_field">Title</label>
                <input type = "text" name = "title" id = "title" class = "form-control input_user" value = "" style="border-radius: 0px; color: black" required>
            </div>
            <div class = "container input-group mb-3">
              <label for="type" class="input_field">Type</label>
                <select name="type" id="type" class="form-control input_user" style="border-radius: 0px; color: black" required>
                  <option value="Assignment">Assignment</option>
                  <option value="Project">Project</option>
                  <option value="Exam">Exam</option>
                  <option value="Reporting">Reporting</option>
                  <option value="Incentive">Incentive</option>
                  <option value="Others">Others</option>
                </select>
            </div>
            <div class = "container input-group mb-3">
              <label for="deadline" class="input_field">Deadline</label>
                <input type = "datetime-local" name = "deadline" id = "deadline" class = "form-control input_user" value = "" style="border-radius: 0px; color: black" required>
            </div>
              <div class = "container input-group mb-3">
                <label for="desc" class="input_field">Description</label>
                <textarea name="paragraph_text" cols="97" rows="10" id="desc"></textarea>
              </div>
            <div class = "display" style = "padding: 0 40px; margin-top: 10px; ">
              <input type = "submit" name = "create_button" id="create_button" class = "btn" value = "Create!">
              </input>
             </div>
          </form>
        </div>
      </div>
    </div>
</body>
</html>