<!DOCTYPE html>
<html>
<head>
  <link href="/css/schedule.css" rel="stylesheet">
  <title>{{fName}} {{lName}} | blueprint</title>
</head>
<body>
  {{>topnav}}
  <div id = "content">
    <nav id = "sideNav">
      <div class="navigationDiv">
        <ul class="navbar-nav" style="margin-top: 20px; background-color: white">
          <li class="nav-item item up">
            <a class="nav-link icon_name" href="/{{username}}/profile"><i class="fas fa-child"></i>Profile</a>
          </li>
          <li class="nav-item item down">
            <div class="active" style="background-color: white">
              <a class="nav-link " href="/{{username}}/schedule"  style="color: #5161ce; padding-left: 10px"><i class="fa fa-calendar-check-o"></i> Schedule</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="main">
      <ul class="breadcrumb">
        <li><a href="/home">blueprint</a></li>
        <li>{{fName}}'s Schedule</li>
      </ul> 
      <h1>{{fName}}'s Schedule</h1>
      <h5>This is {{fName}}'s current schedule for the term!</h5><hr>
      {{>sched}}
    </div>
  </div>
</div>
</body>
</html>
